.blink_me {
    color: red;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.middle-overlay {
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    justify-content: center;
    text-align: center;
    border: 1px solid #282c34;
}

.game-over {
    width: 200px;
    height: 130px;
    background: aliceblue;
}

.game-win {
    width: fit-content;
    height: fit-content;
    background: white;
    padding: 10px;
}

.again_button {
    border-width: 0;
    font-size: 20px;
    text-align: center;
    background: aliceblue;
}

.again_button:hover {
    font-weight: bold;
}

.game-info {
    margin-left: 20px;
}
