.square {
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
}

.pure-g > div {
    box-sizing: border-box;
}

/* hack for empty squares */
.square::before {
    content: "";
    padding-bottom: 100%;
    display: inline-block;
    vertical-align: top;
}

.square_grid {
    border: 1px solid #999;
}